body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

h1 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
}

h2 {
  color: #000;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  margin-left: 32px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.overview form {
  text-align: center;
  margin: 15px;
  border-radius: 6px;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-border {
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(62, 133, 238) 1.1%,
    rgb(227, 137, 240) 43.7%,
    rgb(243, 193, 124) 89.7%
  );
}

.overview {
  margin-bottom: 20px;
}

.current-temp-icon img {
  margin-right: 5px;
  margin-left: 20px;
  max-width: 100%;
  height: auto;
}

.float-left {
  float: left;
}

.current-temp-icon .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.current-temp-icon .active {
  color: #000;
  cursor: default;
}

.current-temp-icon .active:hover {
  text-decoration: none;
}

.current-temp {
  color: #000;
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
}
