body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

h1 {
  font-weight: 700;
  color: #000;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
}

h2 {
  font-weight: 900;
  color: #000;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

li.first-letter {
  text-transform: capitalize;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-border {
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(62, 133, 238) 1.1%,
    rgb(227, 137, 240) 43.7%,
    rgb(243, 193, 124) 89.7%
  );
}

.overview {
  margin-bottom: 20px;
}

.current-temp-icon img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}

.current-temp-icon .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.current-temp {
  color: #000;
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
}
